{% load static %}

<footer aria-label="Delish Footer" class="bg-[#FE9BC7]">
    <div class="wave">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
        </svg>
    </div>
    <div class="mx-auto max-w-screen-xl px-4 pb-6 pt-10 sm:px-6 lg:px-8 lg:pt-10">
      <div class="grid grid-cols-1 gap-8 lg:grid-cols-3">
        <div>
          <div class="flex justify-center text-teal-600 sm:justify-start h-[100px]">
            <img src="{% static "logo.png" %}" alt="image logodelish">
          </div>
          <p class="mt-10 max-w-md text-center text-sm leading-relaxed text-white sm:max-w-xs sm:text-left">
            @2023 DELISH
          </p>

          <p class="max-w-md text-sm text-center leading-relaxed text-white sm:max-w-xs sm:text-left">
          TOUS DROITS RÉSERVÉS
        </p>
        </div>
        <div class="grid grid-cols-1 gap-1 sm:grid-cols-2 lg:col-span-2">
          <div class="text-center sm:text-left">
            <p class="font-bold text-white">A PROPOS DE NOUS</p>
  
            <nav aria-label="Footer About Nav" class="mt-8">
              <ul class="space-y-4 text-sm">
                <li>
                  <a class="text-white transition hover:text-[#FED6EC]" href="/">
                    Qui sommes nous?
                  </a>
                </li>
  
                <li>
                  <a class="text-white transition hover:text-[#FED6EC]" href="/">
                    FAQ
                  </a>
                </li>
  
                <li>
                  <a class="text-white transition hover:text-[#FED6EC]" href="/">
                    Envois dans toute la France 
                  </a>
                </li>
              </ul>
            </nav>
          </div>
  
          <div class="text-center sm:text-left">
            <p class="font-bold text-white">CONTACT</p>
  
            <nav class="mt-8">
              <ul class="space-y-4 text-sm">
                <li>
                  <a class="text-white transition  hover:text-[#FED6EC]" href="/">
                  Contactez-nous
                  </a>
                </li>
  
                <li>
                  <a class="text-white transition hover:text-[#FED6EC]" href="/">
                  Réseaux Sociaux
                  </a>
                </li>
              </ul>
            </nav>
          </div>

        </div>
      </div>
    </div>
  </footer>